//susy setup ------------------------------------

$total-columns : 12;
$column-width : 4em;
$gutter-width : 1em;
$grid-padding : $gutter-width;
$from-direction: right;
$omega-float : left;



@include border-box-sizing;

$small : 30em;
$medium : 45em;
$larg : 75em;

.body-wrapper{
	 
	width : 66em;
	max-width : 100%;
	margin : auto;
	background-color : #fff;
	box-shadow : 0px 8px 7px 2px #ddd;
}
//content
.layout {
	@include container;
	padding: 0 3%;

	
}

//header ------------------------------------
header {
	width : 100%;
	padding : 0;
	margin : 0;
	@include clearfix;
	box-shadow : 4px 4px 0 -8px #efefef;
	.top-bar{
		border-bottom : 1px #ddd solid;
		@include clearfix;
		margin :{
			right : 10px;
			left : 10px;
		}
	}
	ul.top-nav{
		
		@include span-columns(9,12);
		@include horizontal-list;
		
		
		
		&>li.top-nav-list{
			display:inline-block;
			float : none;
		}
	}

	.search-bar{
		@include span-columns(3,12);
		@include omega;
		color : #fff;
		
	}

		
}
ul.top-nav{
	&>li a{
		display : inline-block;
		line-height: 200%;

	}
}

.banner {
	@include clearfix;
	position : relative;
	padding:{
		top : 10px;
		bottom : 10px;
	}
	border :{
		bottom : 2px $lightblue solid;
	}
	
	.site-logo{
		@include span-columns (4,12);
		text-align : center;
		margin : auto;
		padding :{
			top : 10px;
			bottom : 10px;
		}
		&>img.logo{
			max-width : 100%;
		}
	}

	span.top-date{
		position : absolute;
		left : 15%;
		top : 20px;

	}
	ul.main-nav{
		@include span-columns(8,12);
		@include omega;
		position : absolute;
		bottom : 10px;
		@include horizontal-list;
		text-align : center;

		&>li.nav-list{
			display: inline-block;
			float : none;
			
		}
		&>li a{
			display : inline-block;
			line-height: 300%;
			border : {
				top : 1px #ddd solid;
			}

		}
		&>li a:hover{
			border:{
				top : 2px $lightblue solid;
			}
			
		}

	}
	
}

// -------------slide area ------------------
.importants{
	@include clearfix;
	.notify{
		@include span-columns(3,12);
		background-color : $grey1;
	}
	.slide-area{
		@include span-columns(9,12);
		@include omega;
		& img.sliders{
			max-width : 100%;
			height : auto;
			
		}

	}
}

// ------------ tabs ----------------------
.main-tab{
	width : 100%;
	padding:{
		top : 30px;
		bottom : 30px;
	}
}
.news-area{
	@include clearfix;
	background-color : $grey1;
	article.news{
		@include span-columns(4,12);

		.news-thumb {
			@include clearfix;
			width : 100%;
			height : 200px;
			display: inline-block;
			margin : auto;
			text-align: center;
		}
		.news-thumb img{
			max-width : 100%;
			margin : auto;
		}
	
	}
	article.news:nth-of-type(3n){
		@include omega;
	}
}
.notifications{
	@include clearfix;
	article.notify-body{
		@include span-columns(10,12);
		float : none;
		display : block;
		margin : auto;

	}	
}
.educational-notify{
 	@include clearfix;
 	background-color : $grey1;

 	.note{
 		@include span-columns(10,12);
 		float : none;
 		display : block;
 		margin : auto;
 	}
 	a.edu-button{
 		@include span-columns(6,12);
 		@extend .buttons;
 	}
 	a.edu-button:nth-of-type(2n){
 		@include omega;
 	}
 }
.edu-student{
	@include clearfix;
	a.edu-st-button{
		@include span-columns(6,12);
		@extend .buttons;
	}
	a.edu-st-button:nth-of-type(2n){
		@include omega;
	}
}
.research{
	@include clearfix;
	background-color : $grey1;
	a.research-button{
		@include span-columns(4,12);
		@extend .buttons;
	}
	a.research-button:nth-of-type(3n){
		@include omega;
	}
}
.rel-sites{
	@include clearfix;
	a.rel-button{
		@include span-columns(6,12);
		@extend .buttons;
	}
	a.rel-button:nth-of-type(2n){
		@include omega;
	}
}

.services{
	@include clearfix;
	background-color : $grey1;
	.service{
		@include span-columns(10,12);
		float : none;
		display : block;
		margin : auto;
	}

}

	footer{
		@include clearfix;
		@include background($grey4);
		border-color:  border-color($grey1);
		text-align : center;
		
	}

	// @inlcude at-breakpoint();
	// @include single-transition();
	// @include  horizontal-list;
	// 	@include single-transition(background,0.3s,ease-out);
	// }
